html {
    background-image: url(../img/webb.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

header {
    font-family: 'Oswald';
    font-size: 22px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type=submit] {
    margin: 0px auto;
    display: block;
    width: 90px;
    margin-top: 24px;
    padding: 5px;
}

.error {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    bottom: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: rgb(172, 162, 162, 0.5);
    height: 120px;
    position: absolute;
    width: 99%;
    bottom: 0;
}

a:hover {
    color: rgb(153, 125, 158);
    font-size: large;
}