$hover_color:rgb(201, 13, 235);
$red:rgb(247, 1, 1);
$bgcolor:rgb(202, 184, 184);
$image:url(../img/webb.png);
html {
    background-image: $image;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    position: relative;
}

header {
    font-family: 'Oswald';
    font-size: 22px;
    h1 {
        text-shadow: 2px 2px $red;
        text-align: center;
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    input[type=text] {
        padding-right: 290px;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
    input[type=submit] {
        color: white;
        width: 110px;
        margin-left: 197px;
        margin-top: 24px;
        padding: 5px;
        opacity: 0.6;
        background-color: rgb(48, 48, 209);
    }
}

section {
    margin-top: 50px;
    margin-bottom: 45px;
}

.error {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: $red;
    bottom: 0;
    width: 100%;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
    text-align: center;
    position: relative;
    left: 0;
    color: white;
    bottom: 0;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

a {
    color: indianred;
}

a:hover {
    color: $hover_color;
    font-size: large;
}