html{
    background-image: url(../img/webb.png);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 35px;
}

h1{
    text-align: center;
}

header{
    font-family: 'Oswald';font-size: 22px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type=text]{
    width: 250px;
    padding:5px; 
}

input[type=password]{
    width: 250px;
    padding:5px; 
}

input[type=submit]{
    width: 67px;
    margin-left: 197px;
    margin-top: 24px;
    padding:5px; 
}

section{
    margin-top: 50px;
    margin-bottom: 45px;
}

.error{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    bottom: 0;
    width: 100%;
}

footer{
    text-align: center;
    background-color: rgb(172, 162, 162,0.5);
    height: 120px;
    position:absolute;
    width: 99%;
}

a:hover{
    color:rgb(153, 125, 158);
    font-size: large;
}